<template>
  <v-container class="mb-5">
    <v-layout align-center>
      <v-flex>
        <v-card>
          <v-card-title
            class="display-1 justify-center text-xs-center"
          >
            About the 16 Frogs of Blacksburg
          </v-card-title>
          <v-card-text>
            <p>The 16 Frogs of Blacksburg has been a long time in the making...and is still ongoing! If you'd like 
              to be involved with the project or have additional questions, please contact 
              <a href="http://www.downtownblacksburg.com/">Downtown Blacksburg</a>, the organization behind the 16 Frogs project.
            </p>
            <p>The project could also use donations for ongoing maintenance costs and new components that will be added 
              in the future. We'll make that easy to do from the website in the future, but in the meantime, just contact 
              <a href="http://www.downtownblacksburg.com/">Downtown Blacksburg</a> to make a donation!
            </p>
          </v-card-text>
          <v-divider/>
          <v-card-text>
            <h2 class="text-xs-center">Thanks!</h2>
            <p>Thanks go to all of the people who made this project a success and continue to make it a great part of the
              Town of Blacksburg, Virginia. 
            </p>
            <p>
              Special thanks to those who have contributed to this website:
              <ul>
                <li>Christine Gibson for the frog narratives and stories</li>
                <li>Chip Herman for the photographs</li>
                <li>Amelia Hayden and Katherine Smith for the map. 
                  <a href="https://blacksburg-va.maps.arcgis.com/apps/MapTour/index.html?appid=101a0b5bbcfc45e68637b4abcffaf75e#map">
                  View the map separately from this website for the best experience!</a>
                </li>                
                <li>All the members of the 16 Frogs Committee!</li>
              </ul>
            </p>            
          </v-card-text>
          <v-divider />
          <v-card-text>
            <h2 class="text-xs-center">Feedback</h2>
            <p>This website was created by the Code for NRV organization. 
              <a href="mailto:incoming+codefornrv/16-frogs@incoming.gitlab.com">Send us any and all of your feedback!</a></p>
              <p>We're also open source, so you can <a href="https://gitlab.com/codefornrv/16-frogs">view the code</a> behind this website and even contribute if you'd like!
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'About'
}
</script>
