<template>
  <v-container grid-list-md class="mb-5">
    <v-layout align-center>
      <v-flex
        xl12
      >
        <v-card class="py-2">
        <div
          class="text-xs-center display-2 font-weight-medium py-1"
        >
          Meet the Frogs!
        </div>
        
    <v-layout row wrap align-center>
      <v-flex
        xs12
        v-for="frog in frogs" 
        :key="frog.shortName"
        align-center
      >
      <div class="text-xs-center mx-3 my-1">
        <v-card 
          :to="{ path: frog.shortName }"
          append
        >
          <v-avatar
            :size="avatarSize"
            class="text-xs-center mt-4"
          >
            <img :src="'frog-photos/' + frog.shortName + '.jpg'" />
          </v-avatar>
          <v-card-title 
            primary-title
            class="justify-center"
          >
              <div>
                <h5 class="headline mb-0">{{ frog.name }}</h5>
              </div>
            </v-card-title>
            <v-card-text class="pt-0">
              <div class="subheading font-weight-light">
                {{ frog.location }}
              </div>
            </v-card-text>
        </v-card>
      </div>
      </v-flex>
    </v-layout>
    </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Frogs",
  props: {
    frogs: Object
  },
  computed: {
    avatarSize: function() {
      if (screen.width > 420) {
        return 250
      } else {
        return 165
      }
    }
  }
};
</script>
