<template>
  <v-container class="mb-5">
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <img width="100%" :src="'frog-photos/' + frog.shortName + '.jpg'" />
          <v-card-title 
            class="display-2 justify-center">
            {{ frog.name }}
          </v-card-title>
          <v-card-text v-html=frog.frogbookDescription class="text-xs-center" />
          <v-divider/>
          <v-card-text >
            <div class="headline font-weight-light my-3 text-xs-center">
              My Story
            </div>
            <div v-html=frog.longDescription />
          </v-card-text>
          <v-divider/>
          <v-card-text class="text-xs-center mt-3">
            You can find me at
            <div class="title">
              {{ frog.location }}
            </div>
          </v-card-text>
          <v-card-text v-html=frog.map class="text-xs-center" />
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  name: 'Frogs',
  props: ['frogs'],
  computed: {
    frog: function() {
        return this.frogs[this.$route.params.id]
    }
  }
}
</script>
