<template>
  <v-container class="mb-5">
    <v-layout align-center>
      <v-flex>
        <v-carousel 
          hide-delimiters
          hide-controls
        >
          <v-carousel-item
            v-for="frog in pictureFrogs"
            :key="frog.shortName"
            :src="'frog-photos/' + frog.shortName + '.jpg'"
          ></v-carousel-item>
        </v-carousel>
        <v-divider class="my-2"/>
        <v-card>
          <v-card-title
            class="display-1 justify-center text-xs-center"
          >
            The 16 Frogs of Blacksburg
          </v-card-title>
          <v-card-text>
            <p>Welcome! You've found the home of Blacksburg's 16 frogs! We're so glad you could <span class="font-italic">hop</span> 
            on by and check us out.
            You'll find all sixteen of us scattered around the Town of Blacksburg, Virginia, and each of us has a story to tell.</p> 
            <p>We all like to talk about why our locations are important, our history, and our namesakes (how we got our names). 
              I hope you can get to know all of us, and we'd love for you to come and visit each and every one of us! 
            </p>
            <div
              class="justify-center text-xs-center"
            >
              <router-link
                tag="h2"
                to="frogs"
                style="text-decoration: underline"
              >
                Come meet the frogs!
              </router-link>
              or
              <router-link
                tag="h2"
                to="map"
                style="text-decoration: underline"
              >
                Find us on the map!
              </router-link>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'HomePage',
  props: {
    frogs: Object
  },
  computed: {
    pictureFrogs: function() {
      return [this.frogs["gilbertvaughn"], this.frogs["lyle"], this.frogs["ag"]]
    }
  }
}
</script>

<style scoped>
  .v-carousel {
    height: 300px !important;
  }
</style>
