<template>
  <v-container fluid class="mb-5">
    <iframe id="map" src="https://blacksburg-va.maps.arcgis.com/apps/MapTour/index.html?appid=101a0b5bbcfc45e68637b4abcffaf75e"></iframe>
  </v-container>
</template>

<script>
export default {
  name: 'Map',
  props: {
    msg: String
  }
}
</script>

<style scoped>
#map {
  width: 100%;
  height: 100%;
}
</style>
