<template>
        <v-bottom-nav
            :active.sync="bottomNav"
            :value="true"
            app
        >
            <v-btn to="/" color="teal" flat value="home">
                <span>Home</span>
                <v-icon>home</v-icon>
            </v-btn>
            <v-btn to="/frogs" color="teal" flat value="frogs">
                <span>Frogs</span>
                <v-icon>fas fa-frog</v-icon>
            </v-btn>
            <v-btn to="/map" color="teal" flat value="map">
                <span>Map</span>
                <v-icon>map</v-icon>
            </v-btn>
            <v-btn to="/about" color="teal" flat value="about">
                <span>About</span>
                <v-icon>help_outline</v-icon>
            </v-btn>
        </v-bottom-nav>
</template>

<script>
  export default {
    data () {
      return {
        bottomNav: 'home'
      }
    }
  }
</script>
