<template>
    <div id="app">
        <v-app>
            <router-view :frogs="frogs" />
            <Menu/>
        </v-app>
    </div>
</template>

<script>
import axios from 'axios'
import Menu from './components/Menu'
export default {
    name: 'App',
    components: {
        Menu
    },
    data () {
        return {
            frogs: {},
            frogSourceUrl: 'https://spreadsheets.google.com/feeds/list/1ZEbGgMbs3IUJdyLG2PTK7oLNy4lCDXtuiOJ8FQN06Qw/1/public/values?alt=json'
        }
    },
    mounted () {
        axios
        .get(this.frogSourceUrl) //'https://docs.google.com/spreadsheets/d/e/2PACX-1vSBfzobcSx9O0Ssg_mse9Z8hb0WvoF0Q-CCuWR02uvo2WaJCBfordIvYxcMPUTDYRgHR--P281Q8Wf_/pub?output=csv')
        .then( response => (this.frogs = createFrogsList(response.data.feed.entry)))
    }
}
function createFrogsList(gs) {
  var frogs = {}
  gs.forEach(element => {
    var shortName = element["gsx$shortname"]["$t"];
    var name = element["gsx$name"]["$t"];
    var frogbookDescription = element["gsx$frogbookdescription"]["$t"].replace(/(?:\r\n|\r|\n)/g, '<br>');
    var longDescription = element["gsx$longdescription"]["$t"].replace(/(?:\r\n|\r|\n)/g, '<br>');
    var location = element["gsx$location"]["$t"]
    var map = element["gsx$map"]["$t"]
    frogs[shortName] = ({
        "name": name, 
        "shortName": shortName, 
        "frogbookDescription": frogbookDescription, 
        "longDescription": longDescription,
        "location": location,
        "map": map
    })
  });
  return frogs;
}
</script>

<style>
  .container {
    max-width: 800px;
  }
</style>
